-r src/ingestor/requirements.txt
-r src/ui/requirements.txt
pytest==8.3.2
pytest-mock==3.14.0
httpx==0.27.2
types-requests==2.32.0.20240914
ruff==0.6.4
mypy==1.11.2
pylint==3.3.1
prometheus-client==0.21.0
